{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'authentication/css/signin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
        
        <div class="forms-container">
            <div class="for">
                {% for message in messages %}
                <div class="alert alert-{{ message.tag }} alert-dismissible fade show">

                <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"> &times; </span>
                    </button>
                    </div>

                {% endfor %}
            </div>
            <div class="signin-signup">

                <form action="/signin" method="post" class="sign-in-form">
                    <h2 class="title">Sign in</h2>
                    {% csrf_token %}
                    <div class="input-field">
                        <label class="tag" for=""></label>
                        <input type="text" id="username" name="username" placeholder="Enter a username">
                    </div>

                    <div class="input-field">
                        <label class="tag" for=""></label>
                        <input type="password" id="password" name="password" placeholder="Enter password">
                    </div>

                    <input type="submit" class="btn solid" value="Login">
                    <a href="{% url 'signup' %}" class="">SIGN UP</a>



                    <p class="social-text">Or Sign in with social platforms</p>
                    <div class="social-media">

                        <a href="#" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a href="#" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>

                        <a href="#" class="social-icon">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}