{% load static %}
{% block style%}
     <link rel="stylesheet" href="{% static 'authentication/css/footer.css' %}">
{% endblock %}

{% block content %}
    <footer class="footer-distributed">
    <img style="margin-left: 1200px;margin-bottom: 150px; width: 100px;" src="https://img.icons8.com/ios/50/000000/star--v1.png" alt=""/>


    <div class="footer-left">

      <h3>Cash<span>App</span></h3>

      <p class="footer-links">
        <a href="#" class="link-1">Home</a>

        <a href="#">Whycashapp</a>

        <a href="#">Features</a>

        <a href="#">Faq</a>

        <a href="#">Contact</a>
      </p>

      <p class="footer-company-name">SDU © 2022</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Abylaikhan 1/1</span> Almaty, Kaskelen</p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>+7 705 161 6992</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:ssc.sdu.edu.kz"></a>ssc.sdu.edu.kz</p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the app</span>
        Predict uses all of your accounting data to build a cash flow forecast. But it doesn't stop there. Operations, staff, profit, trends, sales, tax, it's all predicted across the P&L, Balance Sheet and Cash Flow for 3 years: in minutes.
      </p>

      <div class="footer-icons">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

    </div>

  </footer>

{% endblock %}